<div *ngFor="let imageTextBox of imageTextBoxs" [ngClass]= "['col-sm-3', 'text-center', 'padding', 'wow', 'fadeIn']"  data-wow-duration="1000ms" data-wow-delay="300ms">
  <div class="single-service">
    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
      <a [href]="imageTextBox.imageClickUrl"><img [src]="imageTextBox.imageUrl" [alt]="imageTextBox.imageAltTxt"></a>
    </div>
    <h2>{{imageTextBox.imageTitle}}</h2>
    <p>{{imageTextBox.imageDescription}}</p>
    <a [href]="imageTextBox.imageBtnUrl" class="btn btn-common">KNOW MORE</a>
  </div>
</div>
<!--class="col-sm-3 text-center padding wow fadeIn"-->
