<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 overflow">
        <div class="social-icons pull-right">
          <ul class="nav nav-pills">
            <li><a href="https://www.facebook.com/angularjstutorials.net" target="_blank"><i
              class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/ngtutorials" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://plus.google.com/100515072403962598645" target="_blank"><i
              class="fa fa-google-plus"></i></a></li>
            <li><a href="https://in.linkedin.com/in/angularjstutorials" target="_blank"><i
              class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <a class="navbar-brand" routerLink="/home">
            <h1><img itemprop="logo" src="../assets/images/logo.png" alt="AngularJS Tutorials.net logo" itemprop="contentUrl"></h1>
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active" class="active"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/movie-list">Movies</a></li>
          <li routerLinkActive="active"><a routerLink="/angular2-introduction">TRAILERS</a></li>
          <li routerLinkActive="active"><a routerLink="/angular2-setup">Offers</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
