<div class='panel panel-primary' *ngIf='movie'>
    <div class='panel-heading'>
        {{pageTitle + ': ' +movie.movieName }}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Movie Name:</div>
                    <div class='col-md-6'>{{movie.movieName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>language:</div>
                    <div class='col-md-6'>{{movie.language}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Run Time:</div>
                    <div class='col-md-6'>{{movie.runTime}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Actors:</div>
                    <div class='col-md-6'>{{movie.actors}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>5 Star Rating:</div>
                    <div class='col-md-6'>
                        <ai-star [rating]='movie.starRating'
                                 (ratingClicked)='onRatingClicked($event)'>
                        </ai-star>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive'
                     [style.width.px]='200'
                     [style.margin.px]='2'
                     [src]='movie.imageUrl'
                     [title]='movie.movieName'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>
