<section id="home-slider">
  <div class="container">
    <div class="main-slider">
      <div class="slide-text">
        <h1><span itemprop="name">My Movie Site</span><br>
          <h2>Movie Component with angular-2</h2>
        </h1>
        <p><span itemprop="description">AngularJS 2.0 develop across all platform with speed and performance with incredible tooling last but not least loved by millions. Angular 2 is a framework for more focused on the development of mobile application. It is for desktop as well, but mobile is the hard bit that we are get right first. Some modules will be removed from Angular’s core it's help to improve performance.</span>
        </p>
        <a class="btn btn-common">KNOW MORE</a>
      </div>
      <img src="../assets/images/home/slider/slide1/angular-tree.png" class="img-responsive slider-house"
           alt="AngularJS Tree">
      <img src="../assets/images/home/slider/slide1/circle1.png" class="slider-circle1" alt="slider image">
      <img src="../assets/images/home/slider/slide1/circle2.png" class="slider-circle2" alt="slider image">
      <a href="javascript:void(0)"><img src="../assets/images/home/slider/slide1/directive.png" class="slider-cloud1"
                                        alt="directive image"></a>
      <img src="../assets/images/home/slider/slide1/grunt.png" class="slider-cloud2" alt="grunt image">
      <a><img src="../assets/images/home/slider/slide1/ng-include.png" class="slider-cloud3" alt="ng-include image"></a>
      <a><img src="../assets/images/home/slider/slide1/angularJS-logo.png" class="slider-sun"
              alt="angularJS logo image"></a>
      <a><img src="../assets/images/home/angularJS.png" class="slider-cycle" alt="angularJS image"></a>
    </div>
  </div>
</section>
<!--/#home-slider-->

<section id="services">
  <div class="container">

    <div class="row">
      <app-image-text-box></app-image-text-box>
    </div>

    <!--<div class="row">
      <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <a href="angular-2-setup-hello-world.html"><img src="./assets/images/home/angular-2-setup-image.png"
                                                            alt="angular-2.0 setup hello world image"></a>
          </div>
          <h2>Angular 2 Setup</h2>
          <p>Angular 2 setup a local development in your working environment. Take a look at the all steps needed to set
            up
            a test-driven Angular 2 project</p>
          <a href="angular-2-setup-hello-world.html" class="btn btn-common">KNOW MORE</a>
        </div>
      </div>
      <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <a routerLink="/angular2-introduction"><img src="./assets/images/home/angularjs-2-speed-performance.png"
                                                        alt="angularjs-2.0 speed & performance image"></a>
          </div>
          <h2>Speed & Performance</h2>
          <p>Angular 2 makes mobile apps easier to handle things ( via Web Workers and server-side rendering) and
            improves performance,
            load time, etc.</p>
          <a routerLink="/angular2-introduction" class="btn btn-common">KNOW MORE</a>
        </div>
      </div>
      <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <a routerLink="/angular2-introduction"><img src="./assets/images/home/angularjs-2-mobility-driven.png"
                                                        alt="angular-2.0 mobility driven image"></a>
          </div>
          <h2>Mobility Driven</h2>
          <p>Angular 2 is mobile oriented. Angular 2 is using Hierarchical Dependency Injection system which is major
            performance
            booster.
          </p>
          <a routerLink="/angular2-introduction" class="btn btn-common">KNOW MORE</a>
        </div>
      </div>
      <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <a routerLink="/angular2-introduction"><img src="./assets/images/home/angularjs-2-modular.png"
                                                        alt="angularjs-2.0 modular image"></a>
          </div>
          <h2>Modular</h2>
          <p>Angular 2 is broken down to numerous sub-packages. Angular 2 has only Component, Decorator and Template
            directive.</p>
          <a routerLink="/angular2-introduction" class="btn btn-common">KNOW MORE</a>
        </div>
      </div>
    </div>-->
  
  
  </div>
</section>
<!--/#services-->

<section id="features">
  <div class="container">
    <div class="row">
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/home/angular-need-to-know.png" class="img-responsive"
               alt="angular need to know image">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Need to know About Angular 2</h2>
          <P>Setup is not that easy of AngularJS 2 as compare to AngularJS 1.X. In AngularJS 1.x you need to add
            reference of
            library and you are good to go but AngularJS 2 is dependent on other libraries and it requires some efforts
            to
            set up it. In AngularJS 2 no more controllers and $scope also way of Bootstrapping Angular Application is
            changed</P>
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms"
             data-wow-delay="300ms">
          <h2>Mobile Oriented With Better Performance</h2>
          <P>Angular 2 is mobe mobile oriented. Angular 2 is using Hierarchical Dependency Injection System which is
            major performance
            booster in Application. Angular 2 implements unidirectional tree based change detection which again
            increases
            performance of your web/mobile Application. As per ng-conf meetup, angular 2 is 5 times faster as compared
            to
            angular 1.x</P>
        </div>
        <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/home/why-choose-angularjs.png" class="img-responsive"
               alt="why choose angularjs image">
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/home/single-page-application.png" class="img-responsive"
               alt="single page application image">

        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Component Based Programming</h2>
          <P>Just like other javascript framework like ReactJs, AngularJS 2 is also using component based programming.
            Using
            component we have less dependent and faster entities. Angular 2 provides more choice for languages.Angular
            2.0
            means components are the basic building blocks for UI (User Interface) part. In Angular 2.0 there are no
            controllers
            concepts like Angular 1.x; create only directives. Improved Dependency Injection with TypeScript Generics.
          </P>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#features-->

<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
          <p>
            <a routerLink="/angular2-introduction"><img src="../assets/images/home/i-am-angularjs.png"
                                                        class="img-responsive"
                                                        alt="I am Angularjs conceptual overview image"></a>
          </p>
          <h1 class="title"><a>I am Anglar 2.0</a></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#clients-->
